.form__subtitle {
  width: 330px;
  height: 23px;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 64px;
  padding-bottom: 54px;

  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .form__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 75px;
    text-align: center;
  } 
}