.form__button-save {
  width: 358px;
  height: 50px;
  margin-bottom: 37px;
  background: #000000;
  border-radius: 2px;
  display: flex;
  align-self: center;
  justify-content: space-around;
    
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.form__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .form__button-save {
    margin-bottom: 25px;
    width: 238px;
    height: 46px;
    line-height: 22px;
  } 
}