.form__button-save {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  background: #000000;
  border-radius: 2px;
  display: flex;
  align-self: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.form__button-save:hover {
  opacity: 0.8;
  cursor: url(../../../images/cursor.svg), pointer;
}

@media screen and (max-width: 600px) {
  .form__button-save {
    margin-bottom: 25px;
    width: 238px;
    height: 46px;
    line-height: 22px;
  }
}