.profile {
  padding-top: 36px;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
  } 
}

@media screen and (max-width: 500px) {
  .profile {
    padding-top: 38px;
  } 
}