.header {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  width: 880px;
  width: 100%;
  display: flex;
  align-self: center;
  border-bottom: 1px solid #545454;
}


@media screen and (max-width: 600px) {
  .element {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    flex-direction: column;
  } 
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    padding-top: 28px;
    padding-bottom: 28px;
  } 
}

/*@media screen and (max-width: 1000px) {
  .element {
    grid-template-columns: repeat(2, 1fr);
    max-width: 581px;

  } 
}