.profile__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;

  padding-top: 16px;
  margin: 0;
  max-width: 236px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .profile__subtitle {
    max-width: 182px;
    font-size: 14px;
    align-self: center;
    text-align: center;
    padding-bottom: 36px;
  } 
}