.profile__subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;

  margin: 0;
  max-width: 336px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
    text-align: center;
  } 
}