.profile__title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #FFFFFF;

  padding-right: 18px;
  min-width: 294px;
}

@media screen and (max-width: 600px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    align-self: center;
  } 
}