.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
}

@media screen and (max-width: 600px) {
  .profile__avatar {
    align-self: center;
    transform: translate(1px, 4px);
  } 
}