.element__like-button {
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.element__like-button:hover {
  opacity: 0.5;
}